<div mat-dialog-title style="width: 70%">
  <h1>{{ data ? "Modifier l'" : "Ajouter un(e)" }} enseignant(e)</h1>
</div>
<form [formGroup]="professeurForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input name="nom" type="text" matInput formControlName="nom" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input name="prenom" type="text" matInput formControlName="prenom" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Numero de compte</mat-label>
        <input
          name="accountNumero"
          type="number"
          matInput
          formControlName="accountNumero"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom de la banque</mat-label>
        <mat-select formControlName="banque">
          <mat-option *ngFor="let banque of banques" value="{{ banque }}">
            {{ banque }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input name="email" type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telephone</mat-label>
        <input name="mobile" type="number" matInput formControlName="mobile" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      class="mat-radio-button"
      type="button"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mat-radio-button"
      type="submit"
    >
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
