<div
  mat-dialog-title
  class="border-1 flex justify-start align-items-center py-3"
>
  <h1>{{ data ? "Modifier la" : "Ajouter une" }} cour</h1>
</div>
<form [formGroup]="coursForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row border-1 rounded-md py-2 px-6">
      <mat-form-field appearance="outline" class="mt-4">
        <mat-label>Professeur</mat-label>
        <select matNativeControl name="professeur" formControlName="professeur">
          <option selected value=""></option>
          <option
            *ngFor="let professeur of professeurs"
            value="{{ professeur._id }}"
          >
            {{ professeur.nom }} {{ professeur.prenom }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Matiere</mat-label>
        <select matNativeControl name="matiere" formControlName="matiere">
          <option selected value=""></option>
          <option *ngFor="let matiere of matieres" value="{{ matiere._id }}">
            {{ matiere.name }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>element</mat-label>
        <select matNativeControl name="element" formControlName="element">
          <option *ngFor="let element of elements" value="{{ element._id }}">
            {{ element.filiere }} S{{ element.semestre }}
          </option>
        </select>
      </mat-form-field>
      <!--   <mat-form-field appearance="outline">
        <mat-label>group</mat-label>
        <select matNativeControl name="group" formControlName="group">
          <option *ngFor="let group of groupes" value="{{ group._id }}">
            G{{ group.numero }} {{ group.type }}
          </option>
        </select>
      </mat-form-field> -->

      <div class="type">
        <mat-form-field appearance="outline" class="not-fill">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="date" formControlName="date" />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="date"
          ></mat-datepicker-toggle>
          <mat-datepicker #date></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="not-fill">
          <mat-label>Début</mat-label>
          <select matNativeControl name="startTime" formControlName="startTime">
            <option *ngFor="let itm of debit_cours" [ngValue]="itm.value">
              {{ itm.date }}
            </option>
          </select>
        </mat-form-field>
      </div>

      <div class="type justify-content-between">
        <mat-form-field appearance="outline" class="not-fill">
          <mat-label>Nombre d'heures</mat-label>
          <input
            name="nbh"
            type="number"
            matInput
            formControlName="nbh"
            placeholder="CM nb d`heures"
          />
        </mat-form-field>

        <mat-form-field appearance="outline" class="not-fill">
          <mat-label>Type</mat-label>
          <select matNativeControl name="type" formControlName="type">
            <option selected value=""></option>
            <option value="CM">CM</option>
            <option value="TD">TD</option>
            <option value="TP">TP</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-stroked-button
      class="px-3"
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Annuler
      <mat-icon>close</mat-icon>
    </button>
    <button mat-stroked-button color="primary" class="px-3" type="submit">
      {{ data ? "Modifier" : "Enregistrer" }}
      <mat-icon>checked</mat-icon>
    </button>
  </div>
</form>
