@tailwind base;
@tailwind components;
@tailwind utilities;
.head-content-left {
  .search-container {
    position: relative;
    margin-bottom: 1rem;
    .normal-search {
      .search {
        border: none;
        height: 2.375rem;
        padding-left: 2.5rem;
        padding-right: 1.25rem;
        background-color: #f3f3f9;
        box-shadow: none;
        border-radius: 1.875rem;
        outline: 0;
      }
      .search-icon {
        position: absolute;
        font-size: 1rem;
        line-height: 2.375rem;
        left: 0.813rem;
        top: 0;
        color: #74788d;
      }
    }
    .search-menu-btn {
      font-size: 18px;
      height: 42px;
      width: 42px;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 50%;
      outline: 0;
    }
    .search-menu-btn:hover,
    .search-menu-btn:focus {
      color: #699dfa;
    }
  }
}

.mat-green {
  color: green;
}
.mat-red {
  color: red;
}
.badge-error {
  background-color: red;
  color: white;
}
.badge-success {
  background-color: green;
  color: white;
}
.table-bordered {
  border: 1px solid #74788d;
}
table {
  width: 100%;
  border: 2px solid;
  border-color: white;
}
.card-body-top {
  color: #fff;
  @apply rounded-md border-green-950 bg-green-300;
}

.example-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: rgba(255, 255, 255);
  padding: 6px 0;
}

.example-menu-item,
.example-standalone-trigger {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.example-standalone-item {
  background-color: rgb(239, 239, 239);
}
.example-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}
.example-standalone-item[aria-expanded="true"] {
  background-color: rgb(208, 208, 208);
}
