<!------------------------------------------  Main container ---------------------------- -->
<div
  class="container d-flex justify-content-center align-items-center min-vh-100"
>
  <!------------------------------------------  logo container ---------------------------- -->
  <div class="row border rounder-5 p-3 bg-white shadow box-area">
    <!------------------------------------------  left box ---------------------------- -->
    <div
      class="col-md-6 rounder-4 d-flex justify-content-center align-items-center flex-column left-box"
      style="background-color: #103cbe"
    >
      <div class="featured-image mb-3">
        <img
          src="assets/images/supnum.png"
          alt=""
          class="img-fluid"
          style="width: 250px"
        />
        <p
          class="text-white f-s-2"
          style="
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
          "
        >
          Etre Vérifié
        </p>
        <small
          class="text-white text-wrap text-center"
          style="width: 17rem; font-family: 'Courier New', Courier, monospace"
          >Rejoignez des designers expérimentés sur cette plateforme</small
        >
      </div>
    </div>
    <!------------------------------------------  right box ---------------------------- -->
    <div class="col-md-6 right-box">
      <div class="row items-center">
        <div class="header-text mt-3 mb-4">
          <h2>Réinitialisez votre mot de passe</h2>
          <p>
            Mettez votre e-mail pour traiter l'action de modification du mot de
            passe
          </p>
        </div>
        <form [formGroup]="forgetForm" (ngSubmit)="forget()">
          <div class="input-group mb-2">
            <input
              class="form-control form-control-lg bg-light fs-6"
              placeholder="Adresse e-mail"
              name="email"
              type="email"
              formControlName="email"
              [ngClass]="{
                'is-invalid': isSubmit && forgetForm.controls['email'].errors
              }"
            />
          </div>
          <div class="input-group mb-3">
            <small>
              Souvenez-vous du mot de passe?
              <a routerLink="../login" class="text-blue-600">Se connecter</a>
            </small>
          </div>
          <div class="">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>send</mat-icon>
              Envoyer
            </button>
          </div>
        </form>
      </div>
    </div>
    <!------------------------------------------  Main container ---------------------------- -->
  </div>
</div>
