body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}
.box-area {
  width: 930px;
}
.right-box {
  padding: 40px 30px 40px 40px;
}
::placeholder {
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 100px;
    overflow: hidden;
  }
  .right-box {
    padding: 20px;
  }
}
::ng-deep .mat-stepper-horizontal-line {
  display: none;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
  .mat-step {
    max-width: 400px;
  }

  .mat-step-header {
    padding: 8px;
  }
  .mat-step-label {
    font-size: 16px;
  }
}
.example-stepper {
  @apply md:pt-0;
}

.mat-mdc-form-field {
  margin-top: 2px;
  @apply md:mt-0;
}
.example-section {
  @apply flex justify-center items-center w-[100%] mb-2;
  /*   display: flex;
  flex-direction: row;
  align-content: center;

  width: 100%; */
}

.example-margin {
  margin: 0 5px;
}
