@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
  flex: 1 1 auto;
}
.sidenav-wraper {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 10px;
  border: 1px solid #555;
}
mat-sidenav {
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flag {
  height: 60px;
  border-radius: 3px;
  margin-top: 2px;
}
