@tailwind base;
@tailwind components;
@tailwind utilities;
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.action {
  padding: 0px 25px 20px;

  .mat-radio-button {
    flex: 1;
  }
}
.type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .fill {
    width: 50%;
    margin: 5px;
  }
}
.row {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
