<div mat-dialog-title>
  <h1 class="display-4">{{ data ? "Modifier la" : "Ajouter une" }} matiére</h1>
</div>
<form [formGroup]="matiereForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input name="name" type="text" matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Catégorie</mat-label>
        <select matNativeControl name="categorie" formControlName="categorie">
          <option
            *ngFor="let categorie of categories"
            value="{{ categorie._id }}"
          >
            {{ categorie.name }}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      class="mat-radio-button"
      type="button"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mat-radio-button"
      type="submit"
    >
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
