<div mat-dialog-title>
  <h1>{{ data ? "Modifier l'" : "Ajouter un " }} element</h1>
</div>
<form [formGroup]="elementForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Semesteres</mat-label>
        <mat-select formControlName="semestre">
          <mat-option
            *ngFor="let semestre of semestreList"
            [value]="semestre.value"
            >{{ semestre.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>matiere</mat-label>
        <select matNativeControl name="matiere" formControlName="matiere">
          <option *ngFor="let matiere of matieres" value="{{ matiere._id }}">
            {{ matiere.name }}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-raised-button
      class="mat-radio-button"
      type="button"
      [mat-dialog-close]="false"
    >
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      class="mat-radio-button"
      type="submit"
    >
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
