<div mat-dialog-title class="border-b">
  <h1>{{ data ? "Modifier la " : "Ajouter une " }}matiére</h1>
</div>
<form [formGroup]="matiereForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row border-1 rounded-md py-2 px-3">
      <mat-form-field appearance="outline" class="mt-4">
        <mat-label>Categorie</mat-label>
        <select
          matNativeControl
          name="categorie"
          formControlName="categorie"
          [(ngModel)]="categorieSelected"
          (ngModelChange)="onCategorieSelected($event)"
        >
          <option
            *ngFor="let categorie of categories"
            value="{{ categorie._id }}"
          >
            {{ categorie.name }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Matiere</mat-label>

        <select matNativeControl name="matieres" formControlName="matieres">
          <option value="" selected></option>
          <option *ngFor="let matiere of matieres" value="{{ matiere._id }}">
            {{ matiere.name }}
          </option>
        </select>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button
      mat-stroked-button
      class="px-3"
      type="button"
      color="warn"
      [mat-dialog-close]="false"
    >
      Annuler
      <mat-icon>close</mat-icon>
    </button>
    <button mat-stroked-button color="primary" class="px-3" type="submit">
      {{ data ? "Modifier" : "Enregistrer" }}
      <mat-icon>checked</mat-icon>
    </button>
  </div>
</form>
